body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.navbar-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-horizontal .logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-horizontal .login a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-horizontal .login a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.navbar-vertical {
  width: 180px;
  background-color: #444;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 50px);
  overflow: auto;
  padding-top: 20px;
  z-index: 0;
}

.navbar-vertical a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.navbar-vertical a:hover {
  background-color: #575757;
}

.content {
  margin-left: 220px;
  padding: 70px 20px 20px 20px;
}
